/* Variables  */

:root{
    --backgroundColor: #121212;
    --secondary : #c43958;
    --tertiary: #CD4d34;
    --fourth: #929292;
}

/* Reset  */

html, body , div , span , applet, object, 
iframe, h1 , h2 , h3 , h4 , h5 , h6 , p , 
blockquote, pre , a , abbr , acronym , address,
big , cite , code , del dfn , em , img , ins
, kbd , q , s , samp , small , strike , strong, 
strong , sub , sup , tt , var , b , u , i , center 
dl , dt , dd , ol , ul , li , fieldset , form , label 
, legend , table , caption , tbody , tfoot , thead , tr , td
, th , article , aside , canvas , details , embed , figure , 
figcaption , nav , output, ruby , section , summary , time , 
mark , audio , video {
    margin: 0;
    padding : 0 ;
    border : 0; 
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article , aside , details , figcaption , figure , footer , 
header , hgroup , menu , nav , section{
    display: block;
    
}

body{
    line-height: 1;
}

ol , ul {
    list-style: none;
}

blockquote{
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}



/* Base Styles  */


body{
    background-color: var(--backgroundColor);
    position: relative;
}

input{
    outline: none;
    border-radius: 12px;
    padding: 4px 12px;
    border: 1px solid #9893d8;
    background-color: rgb(255, 255, 255 , 0.05);
    color: white;
}


/* Font Style  */

@font-face {
    font-family: rubik;
    src: url(fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: open-sans;
    src: url(fonts/OpenSans-Bold.ttf);
}

h2{
    font-family: rubik;
    font-size: 3rem;
    color:var(--secondary);
}

span{
    color: black;
}

p{
    color: rgb(86, 62, 17);
}

body{
    font-family: open-sans;
    background-color: white;
    background-image: url(assets/beeBackground.svg);
  background-size:cover;
}



/* Mobile Style */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.search-bar{
    display: flex;
    align-items: center;
}

.header-text{
    margin-left: 30px;
    margin-top: 5px;
}

.main{
    margin-left: 30px;
    margin-top: 15px;
}

.book  li{
    display: grid;
    grid-template-columns: 50px  4fr 1fr 1fr;
    /* justify-content: center; */
    /* align-content: center; */
    align-items: center;
    gap: 5px;
}

.content{
    display: grid;
    grid-template-columns: 50px  4fr 1fr 1fr;
    /* justify-content: center; */
    /* align-content: center; */
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;

}

.book li div div {
    display: flex;
    margin-top: 3px;
    align-items: center;
    gap: 8px;
    color: #9893d8;
    font-family: rubik;
    font-size: 12px;
}

.book-icon{
    display: flex;
    justify-content: center;
    background-color: var(--tertiary);
    border-radius: 3px;
}

footer{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 5px;
    background-color: #19547b;
    /* border-top: 2px var(--fourth) solid; */
}


footer div{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.first-icon{
    stroke: var(--fourth);
}


svg{
    fill: var(--fourth);
}

.first-icon:hover{
    stroke: var(--secondary);
}

footer div:hover{
    fill:var(--secondary) ;
}

svg:hover{
    fill: var(--secondary);
    color: var(--secondary);
}

footer  div:hover{
    fill: var(--secondary);
    color: var(--secondary);
}

.read{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
}

.books{
    height: 100%;
    
}

.main{
    height: 67vh;
}

li {
    /* border-bottom:1px solid var(--fourth); */
    /* margin-bottom: 10px; */
    /* overflow: hidden; */
}

/* li:nth-child(2){
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2 , 1fr);
} */




ul{
    overflow: hidden;
}
.books{
    overflow: scroll;
}

.Add-book img{
    background-color: var(--secondary);
    border-radius:5px ;
    margin: 10px;
}

button{
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}

button:hover{
    cursor: pointer;
}

button img:hover{
    background-color: #CD4d34;
}

button:active{
    transform: scale(0.8);
}


.fill-book{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: none;
    flex-direction: column;
    background-color: var(--secondary);
    border-radius: 12px;
    padding: 40px;
    font-family: rubik;

}

.fill-book input{
    border: 1px solid black;
}


.fill-book input {
    margin-bottom: 8px;
}

.fill-book div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.fill-book button{
    border: 2px solid var(--secondary);
    background-color: white;
    border-radius: 12px;
    color: black;
}

.fill-book button:hover{
    background-color: var(--tertiary);
    border-radius: none;
    color: black;

}

li{
    /* background-color: #d48c07; */
    border-bottom: 1px solid var(--secondary);
    padding: 6px;
    margin-bottom: 5px;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

li img:first-child{
    background-color: var(--secondary);
    padding: 8px;
    border-radius: 6px;
}


nav{
    padding-bottom: 15px;
    background-size: cover;
    background-color: var(--secondary);
    /* background-image: linear-gradient(90deg , #efbf49 , var(--secondary)); */
    /* background-image: url(assets/pngkey.com-website-background-png-4158399\(1\).png); */
}

.search-book{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: none;
    flex-direction: column;
    background-color: var(--secondary);
    border-radius: 12px;
    padding: 40px;
    font-family: rubik;
    
}

.search-bar input{
    border: var(--tertiary);
    box-shadow: 1px 1px 1px white;
    background-color: var(--tertiary);
}

.search-book{
    width: 50%;
}
.search-book > p {
    font-family: rubik;
    font-weight: 800;
    color: white;
}


.search-display-title{
    margin-left:  33px !important;
}

.search-display-author{
    margin-left: 12px;
}


.search-display-pages{
    margin-left: 16px ;
}

.search-display-status{
    margin-left: 15px;
}

.search-book p{
    margin: 8px;
}

/* Small tablet */

@media screen and (min-width : 620px) {
    
}

/* Large tablet */

@media screen and (min-width : 960px) {
    
}


/* Desktop style */

@media screen and (min-width : 1200px) {
    
}